<div ng-controller="MainController as ctrl">


  <h1>Main</h1>


  <div id="root">
    <div class="app container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="searchbar form-group">
            <input value="" ng-model="ctrl.query" type="text" class="form-control" placeholder="Search people by name..."></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="toolbar">
            <button ng-click="ctrl.balanceSortFunc('name')" class="btn btn-default">
              <i class="icon fa fa-sort-alpha-asc"></i>
              <span>Sort by name</span>
            </button>
            <button ng-click="ctrl.balanceSortFunc('age')" class="btn btn-default">
              <i class="icon fa fa-sort-numeric-desc"></i>
              <span>Sort by age</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2">
          <div class="thumbnail" data-reactid=".0.2.0.0"><img src="img/koala.svg" data-reactid=".0.2.0.0.0">

            <div class="thumbnail-caption" data-reactid=".0.2.0.0.1"><h3 data-reactid=".0.2.0.0.1.0">Winnie Bridges</h3>
              <table class="user-info table table-responsive" data-reactid=".0.2.0.0.1.1">
                <tbody data-reactid=".0.2.0.0.1.1.0">
                <tr>
                  <td>Age:</td>
                  <td>56</td>
                </tr>
                <tr >
                  <td>Favorite animal:</td>
                  <td>koala</td>
                </tr>
                <tr>
                  <td>Phone:</td>
                  <td>
                    <span>8</span>
                    <span>(324) 537-8589</span>
                  </td>
                </tr>
                </tbody>
              </table>
              <p>
                <b>Favorite phrase:</b>
                <span></span>
                <span>Voalulat osunad pe zuzubesu vur size lefope orvo leukiono rat odelagum cose mudube sutja usipu.</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10" data-reactid=".0.2.1">
          <table class=" user-list table table-striped" data-reactid=".0.2.1.0">
            <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Age</th>
              <th>Phone</th>
            </tr>
            </thead>
            <tbody >
            <tr ng-repeat="item in ctrl.data | orderBy: ctrl.sort : ctrl.sortDesc | filter: ctrl.query">
              <td>
                <img src="img/{{item.image}}.svg" class="user-image">
              </td>
              <td>{{item.name}}</td>
              <td>{{item.age}}</td>
              <td>
                <span>8</span>
                <span>{{item.phone}}</span>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
