<div ng-controller="MainController as ctrl">


  <div class="container-fluid rc-intro">
    <div class="container">
      <img class="rc-img" src="img/angular.png" alt="">
      <h1 class="rc-title">React Challenge (Angular version)</h1>
      <p class="rc-description">Поиск и сортировка данных</p>
    </div>
  </div>


  <div id="root">
    <div class="app container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="searchbar form-group">
            <input value="" ng-model="ctrl.query" type="text" class="form-control" placeholder="Search people by name..."></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="toolbar">
            <button ng-click="ctrl.balanceSortFunc('name')" class="btn btn-default">
              <i class="icon fa fa-sort-alpha-asc"></i>
              <span>Sort by name</span>
            </button>
            <button ng-click="ctrl.balanceSortFunc('age')" class="btn btn-default">
              <i class="icon fa fa-sort-numeric-desc"></i>
              <span>Sort by age</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2">
          <div class="thumbnail"><img src="img/{{ctrl.checkPeople.image}}.svg">

            <div class="thumbnail-caption">
              <h3>{{ctrl.checkPeople.name}}</h3>
              <table class="user-info table table-responsive ">
                <tbody>
                <tr>
                  <td>Age:</td>
                  <td>{{ctrl.checkPeople.age}}</td>
                </tr>
                <tr >
                  <td>Favorite animal:</td>
                  <td>{{ctrl.checkPeople.image}}</td>
                </tr>
                <tr>
                  <td>Phone:</td>
                  <td>
                    <span>8</span>
                    <span>{{ctrl.checkPeople.phone}}</span>
                  </td>
                </tr>
                </tbody>
              </table>
              <p>
                <b>Favorite phrase:</b>
                <span></span>
                <span>{{ctrl.checkPeople.phrase}}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10">
          <table class=" user-list table table-striped">
            <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Age</th>
              <th>Phone</th>
            </tr>
            </thead>
            <tbody >
            <tr ng-repeat="item in ctrl.data | orderBy: ctrl.sort : ctrl.sortDesc | filter: ctrl.query as sortedResult" ng-click="ctrl.changeMainPeople(item)">
              <td>
                <img src="img/{{item.image}}.svg" class="user-image">
              </td>
              <td>{{item.name}}</td>
              <td>{{item.age}}</td>
              <td>
                <span>8</span>
                <span>{{item.phone}}</span>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
